In [1]:
import pandas as pd
from sqlalchemy import create_engine
import datetime

In [2]:
链接数据库 = create_engine('mysql+pymysql://ori:Ywf12345@rm-uf682f339t62un7u6io.mysql.rds.aliyuncs.com/ori')

In [3]:
SQL语句 = """
select *
from 充值流水
"""

In [4]:
df = pd.read_sql(sql=SQL语句,con=链接数据库)    # pandas的read_sql函数

In [5]:
df['充值时间'] = pd.to_datetime(df['充值时间'])

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38502 entries, 0 to 38501
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   UID     38502 non-null  object
 1   注册时间    38485 non-null  object
 2   充值时间    38502 non-null  datetime64[ns]
 3   VIP类型   38502 non-null  object
 4   充值金额    38502 non-null  float64
 5   充值来源    38495 non-null  object
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 1.8+ MB

In [13]:
df.head()

,UID,注册时间,充值时间,VIP类型,充值金额,充值来源,第几次充值
0,3840165,2022/8/29 9:14,2022-08-29 10:37:00,PPTVIP 1个月,49.0,PptSponsor,2.0
1,3840502,2022/8/29 10:20,2022-08-29 10:29:00,模板个人VIP 1个月,39.0,编辑页充值,1.0
2,3840454,2022/8/29 10:13,2022-08-29 10:28:00,模板个人VIP 1个月,39.0,编辑页充值,1.0
3,3777772,2022/8/8 16:56,2022-08-29 10:23:00,模板终身VIP,100.0,upgrade_2,4.0
4,3777772,2022/8/8 16:56,2022-08-29 10:17:00,模板个人VIP 12个月,50.0,upgrade_2,3.0

In [11]:
df['第几次充值'] = df.groupby('UID')['充值时间'].rank(ascending=True,method='dense')

In [14]:
df.head()

,UID,注册时间,充值时间,VIP类型,充值金额,充值来源,第几次充值
0,3840165,2022/8/29 9:14,2022-08-29 10:37:00,PPTVIP 1个月,49.0,PptSponsor,2.0
1,3840502,2022/8/29 10:20,2022-08-29 10:29:00,模板个人VIP 1个月,39.0,编辑页充值,1.0
2,3840454,2022/8/29 10:13,2022-08-29 10:28:00,模板个人VIP 1个月,39.0,编辑页充值,1.0
3,3777772,2022/8/8 16:56,2022-08-29 10:23:00,模板终身VIP,100.0,upgrade_2,4.0
4,3777772,2022/8/8 16:56,2022-08-29 10:17:00,模板个人VIP 12个月,50.0,upgrade_2,3.0

In [15]:
s_date = datetime.datetime.strptime('2022-05-29', '%Y-%m-%d').date()  #起始日期
e_date = datetime.datetime.strptime('2022-08-29', '%Y-%m-%d').date()  #结束日期

In [16]:
df_data = df[(df.充值时间>pd.Timestamp(s_date))&(df.充值时间<pd.Timestamp(e_date))]
df_data

,UID,注册时间,充值时间,VIP类型,充值金额,充值来源,第几次充值
19,3839777,2022/8/28 22:50,2022-08-28 22:58:00,模板个人VIP 1个月,39.0,编辑页充值,1.0
20,2281970,2021/10/25 23:16,2022-08-28 22:22:00,个人商用VIP 3个月,99.0,HeadDown,2.0
21,2321394,2021/10/31 11:49,2022-08-28 22:21:00,模板个人VIP 12个月,99.0,编辑页充值,2.0
22,2088666,2021/9/27 16:32,2022-08-28 22:05:00,新媒体单人版,299.0,编辑页充值,3.0
23,2675676,2021/12/21 17:32,2022-08-28 22:03:00,模板个人VIP 3个月,49.0,coupon_pay_10,2.0
...,...,...,...,...,...,...,...
6219,3079742,2022/3/17 16:55,2022-05-29 09:35:00,模板终身VIP,169.0,优惠券充值活动,1.0
6220,2999460,2022/3/4 10:25,2022-05-29 07:18:00,模板个人VIP 3个月,59.0,free-download,1.0
6221,22017,2020/11/22 11:17,2022-05-29 05:05:00,模板个人VIP 12个月,119.0,编辑页充值,6.0
6222,1055192,2021/5/19 11:31,2022-05-29 00:55:00,模板个人VIP 3个月,59.0,编辑页充值,4.0
6223,3513013,2022/5/28 23:56,2022-05-29 00:43:00,模板个人VIP 1个月,39.0,编辑页充值,1.0

In [17]:
df_data['第几次充值'] = df_data.groupby('UID')['充值时间'].rank(ascending=True,method='dense')

C:\Users\HCKJ\AppData\Local\Temp\ipykernel_6536\317640930.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_data['第几次充值'] = df_data.groupby('UID')['充值时间'].rank(ascending=True,method='dense')

In [88]:
df2 = df_data.groupby('UID').agg({'VIP类型':'count','充值金额':'sum'})
df2

         VIP类型   充值金额
UID
100035       1   54.0
100055       1  299.0
1002117      1   39.0
1002262      1   39.0
1002627      1  359.0
...        ...    ...
996719       1  359.0
997424       1  299.0
998326       1   39.0
999501       1   39.0
99991        1   39.0

[5783 rows x 2 columns]

In [89]:
df3 = df2.query('VIP类型!=1')
df3

         VIP类型   充值金额
UID
1015159      2  259.0
1040253      2   59.0
1042357      2   59.0
104749       2   59.0
106809       2  508.0
...        ...    ...
96391        2  118.0
968435       2   98.0
97449        2   59.0
980305       2   59.0
993773       2   49.0

[382 rows x 2 columns]