In [1]:
import pandas as pd 
import numpy as np

In [11]:
df = pd.read_csv('D:/ori-learn/编辑器数据.csv')

In [12]:
df2 = df[['编辑次数','下载次数']]

In [13]:
df2.describe()

                编辑次数           下载次数
count  259136.000000  259136.000000
mean       12.565811       7.511832
std        54.044193      32.891163
min         0.000000       0.000000
25%         0.000000       0.000000
50%         2.000000       1.000000
75%         8.000000       5.000000
max      5376.000000    4785.000000

In [14]:
df2['编辑次数'] = df2['编辑次数'] * 9
df2['下载次数'] = df2['下载次数'] * 27

C:\Users\HCKJ\AppData\Local\Temp\ipykernel_10316\1187230848.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['编辑次数'] = df2['编辑次数'] * 9
C:\Users\HCKJ\AppData\Local\Temp\ipykernel_10316\1187230848.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['下载次数'] = df2['下载次数'] * 27

In [15]:
df2.head(3)

   编辑次数  下载次数
0   171    54
1   189   270
2   108     0

In [16]:
df2.describe()

                编辑次数           下载次数
count  259136.000000  259136.000000
mean      113.092299     202.819454
std       486.397740     888.061405
min         0.000000       0.000000
25%         0.000000       0.000000
50%        18.000000      27.000000
75%        72.000000     135.000000
max     48384.000000  129195.000000